@model FelipeBastosAnotherProject.Models.Jogador

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja apagar? Todos os placares deste jogador também serão excluidos.</h3>
<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
