@model IEnumerable<FelipeBastosAnotherProject.Models.Placar>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Placares</h2>

<p>
    <a asp-action="Create">Novo Placar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pontos
                @*@Html.DisplayNameFor(model => model.pontos)*@
            </th>

            <th>
                JogadorId
                @*@Html.DisplayNameFor(model => model.jogadorId)*@
            </th>

            <th>
                Data do Placar
                @*Html.DisplayNameFor(model => model.data)*@
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jogadorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
